body {
  background-color: #ffca28       !important;
}

.card {
  margin: 0 auto;
  width: 600px;
  height: 600px;
}

.container {
  background-color: gray;
  margin: 0 auto;
  max-width: 700px;
}

h1 {
  text-align: center;
  font-size: 2em;
}

.number {
  color: gray;
}

.two-column-container {
  display: flex;
  align-items: center;
}

.two-column-container > div {
  flex: 1;
}

.info-container {
  align-items: start;
}

.info-subcontainer {
  display: flex;
  align-items: center;
}

.info-subcontainer > div {
  flex: 1;
}




.image-container {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white !important;
}

.image-container img {
  width: 250px;  
  display: block;
  margin: 0 auto;  
}

.input-container {
  margin: 20px;
  text-align: center;
}

.input-container label {
  display: inline-block;
  margin: 0 10px;
}

.input-container input {  
  width: 50%;
  display: inline-block;
  margin: 0 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button-container {
  margin: 20px;
  text-align: center;
}

a {
  color: #428BCA;
  text-decoration: none;
  font-size: 1.5em !important;
}

a:hover, a:focus {
  color: white !important;
  text-decoration: none !important;
}

label {
  font-size: 1.5em;
  color: #ff3d00;
  font-family: Courier New, Courier, monospace;
  font-weight: bold;
}



/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/